* text=auto

*.blade.php diff=html
*.css linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.scss linguist-detectable=false
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
